In [131]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import lxml

In [132]:
url='https://www.gnu.ac.kr/dorm/ad/fm/foodmenu/selectFoodMenuView.do?restSeq=47&mi=7278'
soup=bs(requests.get(url).text,'lxml')

In [133]:
main=soup.find_all('tr')

In [134]:
raw_breakfast=main[1].find_all('td')
raw_lunch=main[2].find_all('td')
raw_dinner=main[3].find_all('td')
raw_date=main[0].find_all('th')[1:]

In [135]:
raw_breakfast[0]

<td>
<div>
<p class="fm_tit_p mgt15">A코스/한식</p>
<p class="">쌀밥 / 누룽지<br/>시락국<br/>모듬소시지야채볶음<br/>두부민찌조림<br/>참나물겉절이<br/>배추김치<br/>모듬음료</p>
</div>
<div>
<p class="fm_tit_p mgt15">B코스/베이커리</p>
<p class="">미니찐빵<br/>씨리얼<br/>후랑크구이*케찹<br/>블루베리양상추샐러드*망고D<br/>모듬음료<br/></p>
</div>
<div>
<p class="fm_tit_p mgt15">C코스/죽식</p>
<p class="">주꾸미갱시기죽<br/>두부민찌조림<br/>참나물겉절이<br/>배추김치<br/>모듬음료</p>
</div>
<div>
<p class="fm_tit_p mgt15">테이크아웃</p>
<p class="">쉐이크<br/>통밀도너츠<br/>모듬음료</p>
</div>
</td>

In [136]:
breakfast=[]
lunch=[]
dinner=[]
date=[]

def getmenu(x):
    asdfasdf

for d in raw_date:
    date.append(d.text)

#for b in raw_breakfast:

# for b in raw_breakfast:
#     breakfast[('p',attrs={'class':'fm_tit_p mgt15'}).text]

In [141]:
raw_breakfast[0]

<td>
<div>
<p class="fm_tit_p mgt15">A코스/한식</p>
<p class="">쌀밥 / 누룽지<br/>시락국<br/>모듬소시지야채볶음<br/>두부민찌조림<br/>참나물겉절이<br/>배추김치<br/>모듬음료</p>
</div>
<div>
<p class="fm_tit_p mgt15">B코스/베이커리</p>
<p class="">미니찐빵<br/>씨리얼<br/>후랑크구이*케찹<br/>블루베리양상추샐러드*망고D<br/>모듬음료<br/></p>
</div>
<div>
<p class="fm_tit_p mgt15">C코스/죽식</p>
<p class="">주꾸미갱시기죽<br/>두부민찌조림<br/>참나물겉절이<br/>배추김치<br/>모듬음료</p>
</div>
<div>
<p class="fm_tit_p mgt15">테이크아웃</p>
<p class="">쉐이크<br/>통밀도너츠<br/>모듬음료</p>
</div>
</td>

In [138]:
df=pd.DataFrame([breakfast,lunch,dinner],columns=cleaned_date)

In [139]:
df

,월 2025-03-31,화 2025-04-01,수 2025-04-02,목 2025-04-03,금 2025-04-04,토 2025-04-05,일 2025-04-06
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN